<launch>

    <param name="scene_file" value="/media/giuliano/wd_ssd/datasets/replica/room_2/habitat/mesh_semantic.ply"/>

    <node pkg="habitat_ros" name="habitat_sim_node" type="habitat_sim_node.py" output="screen">
        <rosparam file="$(find habitat_ros)/config/default.yaml" command="load" />
    </node>

    <node pkg="rviz" name="rviz" type="rviz" output="screen" args="-d $(find habitat_ros)/rviz/test.rviz"/>
</launch>