<launch>
    <node pkg="panoptic_segmentation" type="panoptic_segmentation_node.py" name="panoptic_segmentation_node" output="screen">
        <rosparam file="$(find active_panoptic_mapping)/config/pano_seg/mask2former.yaml"/>
        
        <param name="~use_groundtruth" value="false"/>
        <param name="~visualize" value="false"/>

        <remap from="~input_image" to="color_image"/>
    </node>

    <node name="rosbag_player" pkg="rosbag" type="play" 
        args="--pause $(find active_panoptic_mapping)/test/replica_rgb_10s.bag /habitat_sim_node/rgb:=/color_image"/>
</launch>